{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-lg">
    <button type="button" data-bs-toggle="dropdown"
            aria-expanded="false" id="src" value="uz">Button
    </button>
    <button type="button" data-bs-toggle="dropdown"
            aria-expanded="false" id="dist" value="en">Button
    </button>
    <textarea id="src_text" rows="5" style="width: 100%; height: 100%"
              placeholder="..." oninput="translate_text()"></textarea>
    <textarea disabled id="translated_text" rows="5" style="width: 100%; height: 100%"></textarea>
</div>
{% endblock %}